/* main.css */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "NEXON Lv1 Gothic OTF normal";
}

/* color.css */
#headBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  width: 62px;
  height: 100vh;
  background-color: #364A61;
  border-bottom: 1px solid #777;
}
#headBox h1 {
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  bottom: auto;
  z-index: 2000;
  display: flex;
  width: 100%;
  height: 44px;
  background-color: #ffaa00;
  font-size: 1.5rem;
}
#headBox h1 a {
  display: block;
}
@media screen and (max-width: 639px) {
  #headBox {
    width: 44px;
  }
  #headBox.active {
    width: 100%;
  }
  #headBox.active h1 {
    display: none;
  }
  #headBox.active .sns {
    margin: auto;
    bottom: 50px;
  }
  #headBox.active #gnbBox ul {
    display: block;
    transform: rotate(0);
    width: 100%;
    height: 300px;
  }
  #headBox.active #gnbBox li {
    display: block;
    margin-top: 5px;
    padding-bottom: 30px;
    line-height: 100%;
    border-style: none none none;
  }
  #headBox.active .navbar_toggle {
    top: 20px;
    right: 20px;
  }
}
#headBox #gnbBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  border-right: 2px none #fff;
  transform: rotate(0);
  color: #333;
}
#headBox #gnbBox ul {
  float: right;
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 80px;
  padding-left: 30px;
  align-items: center;
  align-self: auto;
  transform: rotate(90deg);
}
@media screen and (max-width: 639px) {
  #headBox #gnbBox ul {
    height: 40px;
  }
}
#headBox #gnbBox li {
  position: relative;
  display: inline-block;
  align-self: auto;
  height: 30px;
  padding-bottom: 43px;
  margin-top: 17px;
  margin-right: 30px;
  border-bottom: 1px solid #fff;
  color: #fdfdfd;
  font-size: 22px;
  text-decoration: none;
  line-height: 100%;
}
@media screen and (max-width: 639px) {
  #headBox #gnbBox li {
    font-size: 18px;
  }
}
#headBox #gnbBox li a {
  display: inline-block;
  margin-top: 17px;
  width: 100%;
  height: 100%;
}
#headBox #gnbBox li.action a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffaa00;
}
#headBox #gnbBox li:before {
  content: "";
  position: absolute;
  bottom: 14px;
  width: 0;
  height: 3px;
  background-color: #ffaa00;
  transition: all 0.2s ease;
}
#headBox #gnbBox li.action:before {
  width: 100%;
}
#headBox #gnbBox .sns {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  display: flex;
  width: 100%;
  height: 30px;
  text-align: center;
  background-image: url("../../img/insta_white.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#viewBox {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #70853C;
}
#viewBox .text-container h2 {
  font-size: 4rem;
  font-weight: normal;
}
#viewBox .text-container h2 span {
  font-weight: bold;
}

.view_content {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding-top: 14.75rem;
  padding-bottom: 17.5rem;
  box-sizing: border-box;
}
@media screen and (max-width: 639px) {
  .view_content {
    padding-top: 30%;
  }
}
@media screen and (max-width: 1023px) {
  .view_content {
    padding-left: 0;
  }
}
.view_content a {
  font-size: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  padding: 1rem;
  border: 0.125rem solid #C9971F;
  border-radius: 0.25rem;
  background-color: #364A61;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.view_content a:focus, .view_content a:hover {
  background-color: transparent;
}

.container {
  width: 100%;
  margin: auto;
  height: 100%;
  max-height: 900px;
  padding: 2rem;
  padding-left: 5.875rem;
  box-sizing: border-box;
}
@media screen and (max-width: 639px) {
  .container {
    font-size: 1.5rem;
    max-width: 540px;
    padding-left: 4.75rem;
  }
  .container .text-container p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 950px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1140px;
  }
}

.text-container {
  width: 100%;
  height: 80%;
}
.text-container h2 {
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 639px) {
  .text-container h2 {
    font-size: 2rem;
  }
}
.text-container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3rem;
  color: #dfe5ec;
  font-size: 1.2rem;
}

#aboutBox {
  width: 100%;
  height: 100%;
  min-height: 1400px;
  margin: auto;
  padding-top: 4rem;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: #302417;
}
@media screen and (max-width: 639px) {
  #aboutBox {
    height: 359.375vw;
    min-height: 1150px;
    max-height: 1600px;
  }
}
#aboutBox .text-container {
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.about_img {
  float: right;
  width: 50%;
  height: 400px;
  background-color: #999;
}
@media screen and (max-width: 639px) {
  .about_img {
    float: none;
    width: 100%;
    height: 150px;
    height: 46.875vw;
    max-height: 400px;
  }
}

.about_text {
  float: left;
  width: 50%;
  height: auto;
}
.about_text p {
  text-align: left;
}
@media screen and (max-width: 639px) {
  .about_text {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}

.skill_box {
  float: left;
  width: 100%;
  height: auto;
}

.skill_list {
  margin-top: 50px;
  width: 100%;
  height: 800px;
}
@media screen and (max-width: 639px) {
  .skill_list {
    height: 500px;
    height: 156.25vw;
    max-height: 800px;
  }
}
.skill_list ul {
  width: 100%;
  height: 100%;
}
.skill_list li {
  float: left;
  width: 30%;
  height: 40%;
  background-color: #ddd;
  margin: 0 1.6%;
  margin-bottom: 2.5%;
  padding: 1rem;
  box-sizing: border-box;
}
.skill_list li dl {
  width: 100%;
  height: 100%;
}
.skill_list li dt {
  width: 100%;
  height: 20%;
  margin-bottom: 1rem;
}
.skill_list li dd {
  width: 100%;
  height: 80%;
}
.skill_list li .circle-chart {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
}
.skill_list li .circle-chart-background {
  stroke: #cccccc;
  stroke-width: 1.35;
  stroke-dasharray: 100;
  fill: none;
}
.skill_list li .circle-chart-circle {
  stroke: #4f5357;
  stroke-width: 1.5;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 50;
  transform: rotate(-90deg);
  transform-origin: center;
}
.skill_list li .circle-chart-info {
  opacity: 0;
  transform: translateY(0.3em);
}
.skill_list li .circle-chart-info .circle-chart-percent {
  text-align: center;
  text-anchor: middle;
  font-size: 9px;
}
.skill_list li .circle-chart-info .circle-chart-subline {
  text-align: center;
  text-anchor: middle;
  font-size: 4px;
}
@media screen and (max-width: 639px) {
  .skill_list li {
    width: 45%;
    height: 33%;
    font-size: 0.8rem;
  }
}

.circle_fill {
  animation-name: circle-chart-fill;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.circle_appear {
  animation-name: circle-chart-appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes circle-chart-fill {
  from {
    stroke-dasharray: 0 100;
  }
}
@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#workBox {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #70853C;
  padding-top: 4rem;
  box-sizing: border-box;
  font-size: 2rem;
}

.work_list {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}
.work_list > ul {
  width: 100%;
  height: 100%;
  margin: auto;
}
.work_list > ul > li {
  float: left;
  width: 48%;
  height: 90%;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 1rem;
  color: #fdfdfd;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.work_list > ul > li:last-child {
  float: right;
}
@media screen and (max-width: 639px) {
  .work_list > ul > li {
    font-size: 1rem;
  }
}
.work_list > ul > li a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.work_list > ul > li > span {
  display: block;
  width: 100%;
  height: auto;
}
.work_list > ul > li .work_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 1rem;
  background-color: rgba(50, 50, 50, 0);
  transition: background-color 300ms linear;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
}
.work_list > ul > li:hover .work_img {
  background-color: #333333;
}
.work_list > ul > li:hover .work_img.work_img_01 {
  background-image: url("../../img/twosome/twosome_01.png");
}
.work_list > ul > li:hover .work_img.work_img_02 {
  background-image: url("../../img/showBox/showBox_01.png");
}
.work_list > ul > li h3 {
  margin-top: 35%;
  font-size: 2.5rem;
}
@media screen and (max-width: 639px) {
  .work_list > ul > li h3 {
    margin-top: 20%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 639px) {
  .work_list > ul > li {
    float: none;
    width: 100%;
    height: 200px;
  }
  .work_list > ul > li:first-child {
    margin-bottom: 50px;
  }
}

#contactBox {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #333;
  padding-top: 8rem;
  box-sizing: border-box;
  font-size: 2rem;
}
#contactBox .text-container p {
  text-align: left;
  margin: 0;
}

#footBox {
  width: 100%;
  height: 50px;
  background-color: #333;
}
#footBox .copy {
  width: 100%;
  height: 100%;
  padding-left: 62px;
  box-sizing: border-box;
}
@media screen and (max-width: 639px) {
  #footBox .copy {
    padding-left: 44px;
    font-size: 0.8rem;
  }
}
#footBox .copy p {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fdfdfd;
  line-height: 50px;
}