// _footer.scss


#footBox{
  width: 100%; height: 50px; background-color: nth($natural, 2);
  .copy{
    width: 100%; height: 100%; 
    padding-left: 62px; box-sizing: border-box;
    @include Mob(){
      padding-left: 44px;
      font-size: 0.8rem;
    }
    p{
      display: inline-block;
       width: 100%; height: 100%;
       color: nth($natural, 5);
      line-height: 50px;
      }
  }
}
