/* onepage_scroll.css */

#wrap{
  width: 100%; height: 100%;
  text-align: center;
}

@import "../setting/mixin";
@import "../setting/color";
@import "../setting/variable";
@import "../parts/header";
@import "../parts/viewBox";
@import "../parts/aboutBox";
@import "../parts/skillBox";
@import "../parts/workBox";



/* #newBox ============================================================== */
#contactBox{
  width: 100%; height: 100%; background-color: nth($natural,2);
  padding-top: 8rem; box-sizing: border-box; font-size: 2rem;
}
/* //#newBox ============================================================= */

@import "../parts/footer";