/* main.css */

@font-face { 
  font-family: 'NEXON Lv1 Gothic OTF Bold'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

#wrap{
  width: 100%; height: 100%;
  text-align: center;
  // font-family: 'NanumSquare', sans-serif !important;
  font-family: 'NEXON Lv1 Gothic OTF normal';   
}
// .nanumsquare { font-family: 'NanumSquare', sans-serif !important; }

@import "../setting/mixin";
@import "../setting/color";
@import "../setting/variable";
@import "../parts/header";
@import "../parts/viewBox";
@import "../parts/aboutBox";
@import "../parts/workBox";
@import "../parts/contactBox";
@import "../parts/footer";