// sub_02.scss
/* sub_02.css */

@font-face { 
  font-family: 'NEXON Lv1 Gothic OTF Bold'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

#wrap{
  width: 100%; height: 100%;
  text-align: center;
  font-family: 'NEXON Lv1 Gothic OTF normal';   
}

@import "../setting/mixin";
@import "../setting/color";
@import "../setting/variable";
@import "../parts/header";


#subBox{
  width: 100%; height: 100%;
  background-color: nth($natural, 2); 
}

.sub_container{
  position: relative;
  overflow: hidden;
  width: 100%; height: 100%;
  padding-left: 3.875rem;
  box-sizing: border-box;
  @include myDevice(1024){
    overflow: auto;
  }
  @include Mob(){
    font-size: 1.5rem;
    max-width: 540px; 
    padding-left: 2.75rem; 
  }
}

h2{
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}
p{
  max-width: 600px; 
  margin: auto;
  margin-bottom: 3rem;
  color: #dfe5ec;
  font-size: 1.2rem;
}

.sub_cont{
  // position: relative;
  float: left;
  width: 50%; height: 100%;
  border-right: 2px solid #fff; box-sizing: border-box;
  background-color: transparent;
  @include  myDevice(1023){
    float: none;
    width: 100%;
    height: 100%; min-height: 600px;
    border-right: 0;
  }
}

.text_area{
  position: relative;
  padding-top: 14.75rem; padding-bottom: 17.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: nth($colorList, 2);
  @include  myDevice(1023){
    padding-top: 8rem;
    max-height: 600px;
  }
  p{
    position: absolute; left:2rem; bottom: 8rem; text-align: left;    @include  myDevice(1023){
      right: 0; bottom: 0;
    }
  }
  a{
    position: absolute; right: 5rem; bottom: 20rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 0.125rem solid nth($natural,4);
    border-radius: 0.25rem;
    background-color: nth($colorList,4);
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s;
    &:focus, &:hover{
      background-color: transparent;
    }
    @include myDevice(1023){
      right: 5rem; bottom: 15rem;
    }
  }
}

.img_area{
  position: relative;
  background-color: nth($natural, 2);
  border: 0;
  @include  myDevice(1023){
    .btn_area{display: none;}
  }
  .btn_area{
    position: absolute; top: 50%; right: 10px;
    button{
      width: 0; height: 0;
    }
  }
  .img_part{
    width: 100%; height: 100%;
    // overflow: hidden;
    ul{
      width: 100%; height: 100%;
      li{
        width: 100%; height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 80%;
        @include myDevice(1023){
          display: block;
          height: 50%;
        }
        
        a{display: block; width: 100%; height: 100%;}
      }
    }
  }
}

.img_01{background-image: url('../../img/showBox/showBox_01.png'); z-index: 6;}
.img_02{background-image: url('../../img/showBox/showBox_02.png'); z-index: 5;}
.img_03{background-image: url('../../img/showBox/showBox_03.png'); z-index: 4;}
.img_04{background-image: url('../../img/showBox/showBox_04.png'); z-index: 3;}
.img_05{background-image: url('../../img/showBox/showBox_05.png'); z-index: 2;}
.img_06{background-image: url('../../img/showBox/showBox_06.png'); z-index: 1;}
.img_07{background-image: url('../../img/showBox/showBox_07.png'); z-index: 1;}
.img_08{background-image: url('../../img/showBox/showBox_08.png'); z-index: 1;}
.img_09{background-image: url('../../img/showBox/showBox_09.png'); z-index: 1;}

.img_big{
  // display: none;
  position: absolute; left: 100%; z-index: 50;
  width: 100%; height: 100%;
  background-color: nth($natural, 2);
  @include myDevice(1023){display: none;}
  .btn_area{
    position: absolute; top: 50%; right: 100px;
    button{
      width: 50px; height: 50px;
      transform: translateY(-25px);
      color: nth($colorList, 3);
      font-size: 30px;
      line-height: 50px;
      text-align: center;
    }
  }
  .close_btn{
    position: absolute; top:50px; right: 100px; z-index: 30;
    font-size: 1.5rem;
    color: nth($natural, 5);
  }
  .img_cont{
    width: 100%; height: 100%; 
    overflow: hidden;
    ul{
      width: 100%; height: 100%;
      li{
        display: block;
        width: 100%; height: 100%;
        float: left;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 50%;
        a{display: block; width: 100%; height: 100%;}
      }
    }
  }
  .web_link{
    position: absolute; bottom:50px; right: 100px;
    font-size: 1.5rem;
    color: nth($natural, 5);
  }
}